{% extends 'appMainCRUD/base.html' %}

{% block content %}
<a href="{% url 'pessoas.novo' %}">Novo</a>
<table>

    <thead>
        <tr>
            <th>Nome Maximo 256 Caracteres</th>
            <th>Data de Nascimento Formato ddmmaa</th>
            <th>Ativa</th>
            <th>Ações</th>
        </tr>
        <tbody>
            {% for Pessoas in object_list %}
            <tr>
                <td>{{ Pessoas.nome_completo }}</td>
                <td>{{ Pessoas.data_nascimento|date:"d/m/Y" }}</td>
                <td>
                    {%if Pessoas.ativa %}
                        Sim
                        {% else %}
                        Não   
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'pessoas.editar' pessoas.pk %}">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </thead>
</table>
{% endblock content %}

